<section>
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h1 class="text-secondary">Identifiquese con su nombre para utilizar la plataforma </h1>
        </div>
    </div>
    <form action="/login" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="name" required>
        </div>
        <input type="submit" class="btn btn-success">
    </form>
</section>