<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header.ejs') %>
</head>

<body>
    <div class="container mt-5 bg-light rounded">
    </div>
    <%- include('../partials/signup.ejs') %>
    <%- include('../partials/bootstrapCDN.ejs') %>
</body>

</html>