<div class="d-flex align-items-center justify-content-between">
    <div>
        <h1 class="text-primary"> Bienvenido</h1>
    </div>
    <div>
        <a class="btn btn-danger" href="/logout" role="button">Desloguearse</a>
    </div>
</div>